<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <script>

        $(document).ready(function () {
            $("#query").autocomplete({
                source: function (request, response) {
                    $.getJSON("{{url_for('autocomplete')}}", {
                        q: request.term, // in flask, "q" will be the argument to look for using request.args
                    }, function (data) {
                        response(data.matching_results); // matching_results from jsonify
                    });
                },
                minLength: 1,
                select: function (event, ui) {
                    console.log(ui.item.value); // not in your question, but might help later
                }
            });
        });
    </script>


    <script type="text/javascript">
        function set_keyword(query) {
            form = document.forms['search'];
            form.elements['query'].value = query;
        }

    </script>
        <h1>Search</h1>
        <form action="" method="post" name="search">
          {{ form.hidden_tag() }}
        <p>
            Please enter your keyword below:<br>
            
            {{ form.query(size=80) }}
            {% for error in form.query.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
            
            <input type="text" value="" id="tags" class="div-tag">
            
            <script>
                
                $('.div-tag').tagsinput({
                    allowDuplicates: true,
                    itemValue: 'id',  // this will be used to set id of tag
                    itemText: 'label' // this will be used to set text of tag
                });
           
                $("#tag").on('itemRemoved', function (event) {
                    console.log('item removed : ' + event.item);
                });
            </script>
            {%for tag in tags%}
            <script>
                var tag = '{{ tag }}'
                $('.div-tag').tagsinput('add', { id: 'tags', label: tag });
            </script>
            {% endfor %}
        <p><input type="submit" name="submit" value="Add"><input type="submit" name="submit" value="Search"></p>

        </form>
{% endblock %}
