<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <script type="text/javascript">
        function set_keyword(query) {
            form = document.forms['search'];
            form.elements['query'].value = query;
        }
    </script>
        <h1>Search</h1>
        <form action="" method="post" name="search">
          {{ form.hidden_tag() }}
        <p>
            Please enter your keyword below:<br>
            {{ form.query(size=80) }}
            {% for error in form.query.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Search"></p>

        </form>
{% endblock %}
